<div *ngIf="alreadyAUser" class="container tcenter">
    <h1>Woohooo</h1>
    <h2>You already OnBoard</h2>
    <h3>You may proceed login</h3>
    <button class="btn btn-primary mt50" (click)="revertToHome()" >Go Home</button>
</div>

<section *ngIf="!notAUser" class="col-sm-12">
    <div class="col-md-12">
      <h2 class="page-header">Welcome, {{user.firstName}} {{user.lastName}}</h2>
    </div>
    <form [formGroup]="createPasswordForm" novalidate>
          <div class="form-group" [ngClass]="{'has-danger': createPasswordForm.get('emailAddress').touched && (createPasswordForm.get('emailAddress').status == 'INVALID'),'has-success': createPasswordForm.get('emailAddress').dirty && (createPasswordForm.get('emailAddress').status == 'VALID')}">
              <label for="emailInput" class="col-sm-3">Email</label>
              <input class="form-control inlineB passwordFormInput" type="email" id="emailInput" formControlName="emailAddress">
              <small *ngIf="createPasswordForm.get('emailAddress').dirty && (createPasswordForm.get('emailAddress').status == 'INVALID')" class="form-control-feedback">Please enter correct email-id</small>
          </div>
          <div formGroupName="passwords">
              <div class="form-group" [ngClass]="{'has-danger': createPasswordForm.get('passwords.password').touched && (createPasswordForm.get('passwords.password').status == 'INVALID'),'has-success': createPasswordForm.get('passwords.password').dirty && (createPasswordForm.get('passwords.password').status == 'VALID')}">
              <label for="passwordInput" class="col-sm-3">Password</label>
              <input class="form-control inlineB passwordFormInput" type="password" id="passwordInput" formControlName="password" placeholder="Password">
              <small *ngIf="createPasswordForm.get('passwords.password').dirty && (createPasswordForm.get('passwords.password').status == 'INVALID' || createPasswordForm.get('passwords.password').hasError('minlength'))">Please enter atleast 8 character long</small>
              </div>
              <div class="form-group" [ngClass]="{'has-danger': createPasswordForm.get('passwords.confirmPassword').touched && (createPasswordForm.get('passwords.confirmPassword').status == 'INVALID' || createPasswordForm.get('passwords.password').hasError('minLength')),
                      'has-success': createPasswordForm.get('passwords.confirmPassword').dirty && !createPasswordForm.get('passwords').hasError('match')}">
              <label for="confirmPasswordInput" class="col-sm-3">Confirm password</label>
              <input class="form-control inlineB passwordFormInput" type="password" id="confirmPasswordInput" formControlName="confirmPassword" placeholder="Confirm Password">
              <small *ngIf="createPasswordForm.get('passwords').hasError('match')">Password does not match</small>
              </div>
          </div>
      </form>
      <button type="submit" class="btn btn-primary" (click)="updatePassword()" [disabled]="!createPasswordForm.valid">Create Password</button>
  </section>
