<h1>{{ dataObject?.libType }}</h1>
<hr>
<h4 class="searcResultLabel">{{dataObject?.section}}'s Collection!</h4>
<div class="row">
  <ul class="packageList">
    <li class="col-sm-12">
      <div class="col-sm-3">
        <img src="/assets/images/fileicon.svg.png" alt="" class="d-block w-100">
      </div>
      <div class="col-sm-9 packDetail">
        <h2>IOT is the next revolution
        </h2>
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
        </blockquote>
        <div class="amenities">
          <h4 *ngIf="dataObject?.libType === 'publicLibrary'">Rajesh Kumar</h4>
          <span> Published on
            <time datetime="2017-12-10">10-Dec-2017</time>
          </span>
        </div>
      </div>
    </li>
    <li class="col-sm-12">
      <div class="col-sm-3">
        <img src="/assets/images/fileicon.svg.png" alt="" class="d-block w-100">
      </div>
      <div class="col-sm-9 packDetail">
        <h2>IOT is the next revolution
        </h2>
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
        </blockquote>
        <div class="amenities">
          <h4 *ngIf="dataObject?.libType === 'publicLibrary'">Rajesh Kumar</h4>
          <span> Published on
            <time datetime="2017-12-10">10-Dec-2017</time>
          </span>
        </div>
      </div>
    </li>
    <li class="col-sm-12">
      <div class="col-sm-3">
        <img src="/assets/images/fileicon.svg.png" alt="" class="d-block w-100">
      </div>
      <div class="col-sm-9 packDetail">
        <h2>IOT is the next revolution
        </h2>
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
        </blockquote>
        <div class="amenities">
          <h4 *ngIf="dataObject?.libType === 'publicLibrary'">Rajesh Kumar</h4>
          <span> Published on
            <time datetime="2017-12-10">10-Dec-2017</time>
          </span>
        </div>
      </div>
    </li>
    <li class="col-sm-12">
      <div class="col-sm-3">
        <img src="/assets/images/fileicon.svg.png" alt="" class="d-block w-100">
      </div>
      <div class="col-sm-9 packDetail">
        <h2>IOT is the next revolution
        </h2>
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.
        </blockquote>
        <div class="amenities">
          <h4 *ngIf="dataObject?.libType === 'publicLibrary'">Rajesh Kumar</h4>
          <span> Published on
            <time datetime="2017-12-10">10-Dec-2017</time>
          </span>
        </div>
      </div>
    </li>
  </ul>
</div>