<div class="container">
  <h3 class="page-header">Professionals</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3 tCenter mb15">
      <div class="cardShadow cardPadding">
            <img alt="" class="col-sm-6 mAuto bdr50" src="assets/images/user.png">
            <h3 class="username">Rajat Yadav</h3>
            <p class="position">Director</p>
            <p><span class="followers">25</span>Followers</p>
            <button class="btn btn-outline-primary">View Profile</button>
          </div>
    </div>
    <div class="col-sm-3 tCenter mb15">
      <div class="cardShadow cardPadding">
            <img alt="" class="col-sm-6 mAuto bdr50" src="assets/images/user.png">
            <h3 class="username">Shweta Bisht</h3>
            <p class="position">Sr. Recruiter</p>
            <p><span class="followers">52</span>Followers</p>
            <button class="btn btn-outline-primary">View Profile</button>
          </div>
    </div>
    <div class="col-sm-3 tCenter mb15">
      <div class="cardShadow cardPadding">
            <img alt="" class="col-sm-6 mAuto bdr50" src="assets/images/user.png">
            <h3 class="username">Rahul Singh</h3>
            <p class="position">AssistantManager</p>
            <p><span class="followers">15</span>Followers</p>
            <button class="btn btn-outline-primary">View Profile</button>
          </div>
    </div>
    <div class="col-sm-3 tCenter mb15">
      <div class="cardShadow cardPadding">
            <img alt="" class="col-sm-6 mAuto bdr50" src="assets/images/user.png">
            <h3 class="username">Nikhil Rana</h3>
            <p class="position">COO</p>
            <p><span class="followers">65</span>Followers</p>
            <button class="btn btn-outline-primary">View Profile</button>
          </div>
    </div>
    <div class="col-sm-3 tCenter mb15">
      <div class="cardShadow cardPadding">
            <img alt="" class="col-sm-6 mAuto bdr50" src="assets/images/user.png">
            <h3 class="username">Nikhil Rana</h3>
            <p class="position">COO</p>
            <p><span class="followers">65</span>Followers</p>
            <button class="btn btn-outline-primary">View Profile</button>
          </div>
    </div>
    <div class="col-sm-3 tCenter mb15">
      <div class="cardShadow cardPadding">
            <img alt="" class="col-sm-6 mAuto bdr50" src="assets/images/user.png">
            <h3 class="username">Nikhil Rana</h3>
            <p class="position">COO</p>
            <p><span class="followers">65</span>Followers</p>
            <button class="btn btn-outline-primary">View Profile</button>
          </div>
    </div>
    <div class="col-sm-3 tCenter mb15">
      <div class="cardShadow cardPadding">
            <img alt="" class="col-sm-6 mAuto bdr50" src="assets/images/user.png">
            <h3 class="username">Nikhil Rana</h3>
            <p class="position">COO</p>
            <p><span class="followers">65</span>Followers</p>
            <button class="btn btn-outline-primary">View Profile</button>
          </div>
    </div>
    <div class="col-sm-3 tCenter mb15">
      <div class="cardShadow cardPadding">
            <img alt="" class="col-sm-6 mAuto bdr50" src="assets/images/user.png">
            <h3 class="username">Nikhil Rana</h3>
            <p class="position">COO</p>
            <p><span class="followers">65</span>Followers</p>
            <button class="btn btn-outline-primary">View Profile</button>
          </div>
    </div>
  </div>
</div>