<div class="container">
  <h3 class="page-header">Companies</h3>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 mb15">
      <div class="cardShadow cardPadding">
        <div class="companyHeader vCenter mb10">
          <img alt="" class="col-sm-2 p0" src="assets/images/user.png">
          <h3 class="col-sm-10 m0">Microsoft</h3>
        </div>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
        </p>
        <hr class="line">
        <button class="btn btn-outline-primary mAuto block">View Profile</button>
      </div>
    </div>
    <div class="col-sm-4 mb15">
      <div class="cardShadow cardPadding">
        <div class="companyHeader vCenter mb10">
          <img alt="" class="col-sm-2 p0" src="assets/images/user.png">
          <h3 class="col-sm-10 m0">TCS</h3>
        </div>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
        </p>
        <hr class="line">
        <button class="btn btn-outline-primary mAuto block">View Profile</button>
      </div>
    </div>
    <div class="col-sm-4 mb15">
      <div class="cardShadow cardPadding">
        <div class="companyHeader vCenter mb10">
          <img alt="" class="col-sm-2 p0" src="assets/images/user.png">
          <h3 class="col-sm-10 m0">Huawei</h3>
        </div>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
        </p>
        <hr class="line">
        <button class="btn btn-outline-primary mAuto block">View Profile</button>
      </div>
    </div>
    <div class="col-sm-4 mb15">
      <div class="cardShadow cardPadding">
        <div class="companyHeader vCenter mb10">
          <img alt="" class="col-sm-2 p0" src="assets/images/user.png">
          <h3 class="col-sm-10 m0">Apple</h3>
        </div>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
        </p>
        <hr class="line">
        <button class="btn btn-outline-primary mAuto block">View Profile</button>
      </div>
    </div>
    <div class="col-sm-4 mb15">
      <div class="cardShadow cardPadding">
        <div class="companyHeader vCenter mb10">
          <img alt="" class="col-sm-2 p0" src="assets/images/user.png">
          <h3 class="col-sm-10 m0">Google</h3>
        </div>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
        </p>
        <hr class="line">
        <button class="btn btn-outline-primary mAuto block">View Profile</button>
      </div>
    </div>
    <div class="col-sm-4 mb15">
      <div class="cardShadow cardPadding">
        <div class="companyHeader vCenter mb10">
          <img alt="" class="col-sm-2 p0" src="assets/images/user.png">
          <h3 class="col-sm-10 m0">Ola</h3>
        </div>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
        </p>
        <hr class="line">
        <button class="btn btn-outline-primary mAuto block">View Profile</button>
      </div>
    </div>
    <div class="col-sm-4 mb15">
      <div class="cardShadow cardPadding">
        <div class="companyHeader vCenter mb10">
          <img alt="" class="col-sm-2 p0" src="assets/images/user.png">
          <h3 class="col-sm-10 m0">Myntra</h3>
        </div>
        <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
        </p>
        <hr class="line">
        <button class="btn btn-outline-primary mAuto block">View Profile</button>
      </div>
    </div>
  </div>
</div>